/* */

/* Police(s)  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* la police doit etre utilisee avec des guillements : 'Roboto' */

/* Variables */
:root {

    /* all */
    --principal-color:rgb(30, 30, 30, 0.3); /* var(--principal-color) */
    --principal-color-opacity:rgba(120, 120, 120, 0.3);
    --text-shadow: 0 0 2px rgb(51, 51, 51);

    /* dark-medium blue */
    --dark-blue-night-color:rgb(11, 36, 71);
    --dark-blue-color:rgb(25, 55, 109);
    --purple-blue-color:rgb(87, 108, 188);
    --winter-color:rgb(165, 215, 232);

    /* blue-green */
    --green-blue-light-color:rgb(87, 197, 182);
    --green-blue-color:rgb(21, 152, 149);
    --dark-green-blue-color:rgb(26, 95, 122);
    --dark-blue-night-color_2:rgb(0, 43, 91);

  }

*{
    box-sizing: border-box;
}

body{
    font-family:'Roboto';
    color: white;
    background-color: black;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    background: url("./images/blue-5457731.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/* ------------------------------------------------------------ navbar menu ------------------------------------------------------------ */

/*  logo + name part */

header{
    height: 7%;
    display : flex;
    align-items: center;
    background-color: var(--principal-color);
    box-shadow: 0 7px 5px rgba(51, 51, 51, 0.4);
    text-shadow: var(--text-shadow);
}

#logo-titre{
    width: 30%;
    display : flex;
    align-items: center;
    /* border: 2px solid blue; */
}

#logo-titre__img{
    display : flex;
    align-items: center;
    height: 1%;
    width: 7.5%;
    margin: 0 0 0 5%;
}

h1{
    width: 40%;
    font-size: 30px;
    margin-left: 5%;
}

/*  menu */

#navbar-menu{
    width : 60%;
    padding : 0 15%;
    /* border: 2px solid orange; */
}

ul{
    display : flex;
    justify-content: space-around;
}

.navbar-menu__element{
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2.5% 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


.navbar-menu__element:hover{
    background-color: var(--principal-color-opacity);
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

/*
.navbar-menu__element::before{
    content:"";
    position:absolute;
    width: 100px;
    background-image: linear-gradient(180deg,reg(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: navbar-menu__element-move 3s linear infinite;
    transition: all .2s linear;
}

.navbar-menu__element::after{
    content:"";
    position:absolute;
    background: #07182E;
    inset: 5px;
}

*/

#active-elements{
    height: 100%;
    width : 12%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#color-selector{
    height:30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
}

#color-selector::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
}

#dark-mode-button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(rgb(253, 207, 0),rgb(253, 143, 0));
}

/* ------------------------------------------------------------ project's part ------------------------------------------------------------ */

main{
    height: 86%;
    width: 100%;
    display: flex;
}

#projects{
    position: relative;
}

#presentation{
    display: flex;
    width: 50%;
    position: relative;
}

#presentation p{
    font-size: 24px;
    margin: 10% 0 0 20%;
    width: 50%;
    text-align: auto;
    padding: 5%;
    font-style: italic;
    background-color: var(--principal-color);
    box-shadow: 5px 7px 5px 5px rgba(51, 51, 51, 0.4);
    border-radius: 10px;
    position: absolute;
    line-height: 1.2;
    animation: presentation-move 1000ms ease-out;
}

#projects{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#projects p{
    margin: auto;
    padding: 2%;
    text-align: center;
    margin-top: 3%;
    border-radius: 10px;
    font-weight: bold;
    line-height: 2.5;
}

/*
#project1{
    height: 360px;
    width: 660px;
    margin: 0 auto 120px auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 7px 5px 5px rgba(51, 51, 51, 0.4);
    border: 5px solid var(--principal-color);
    border-radius: 10px;
}
*/

/* ------------------------------------------------------------ footer ------------------------------------------------------------ */

footer{
    height: 7%;
    display : flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal-color);
    font-style: italic;
    box-shadow: 0 -7px 5px  rgba(53, 53, 53, 0.4);
    text-shadow: var(--text-shadow);
}

#footer__container-icons{
    height: 50%;
    font-size: 18px;
    width: 10%;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__container-icons__item{
    height: 55%;
    padding: 7% 0;
}


footer p{
    height: 45%;
    font-size: 12px;
    padding: 0.5% 0 0 0;
    animation: copyright-move 3000ms ease-out 1000ms;
}

/*  réseaux sociaux */

.fa-linkedin-square{
    animation: icon-move 2000ms ease-out 1000ms;
}
.fa-twitter{
    animation: icon-move 2500ms ease-out 1000ms;
}
.fa-facebook-square{
    animation: icon-move 3000ms ease-out 1000ms;
}
.fa-slack{
    animation: icon-move 3500ms ease-out 1000ms;
}

/* ------------------------------------------------------------ animation ------------------------------------------------------------ */

@keyframes navbar-menu__element-move {
    from {
        transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
}
@keyframes sun-move {
    0% { opacity:1; }
    50% { opacity:0.1; }
    100% { opacity:0;color: grey; }
}

@keyframes icon-move {
    0% { transform: translate(0px, -1980px); }
    70% { transform: translate(0px, -6px); }
    75% { transform: translate(0px, 0px); }
    80% { transform: translate(0px, -3); }
    90% { transform: translate(0px, -6px); }
    95% { transform: translate(0px, -3px); }
    100% { transform: translate(0px, 0); }
  }

  @keyframes copyright-move {
    0% { transform: translate(-1080px, 0); }
    100% { transform: translate(0px, 0); }
  }

  @keyframes presentation-move {
    0% { transform: translate(-1080px, 0); }
    100% { transform: translate(0px, 0); }
  }

/* ------------------------------------------------------------ responsive ------------------------------------------------------------ */

/* tablet */

@media screen and (max-width: 820px) {

    #container{
        display: flex;
        flex-direction: column;
    }

    /*  logo + name part */

    header{
        height: 45%;
        flex-direction: column;
        
        background-color: rgba(0, 0, 255, 0);
        box-shadow: none;
    }

    #logo-titre{
        height: 15%;
        width: 100%;
        text-align: center;
        order: 1;

        display : flex;
        align-items: center;
        background-color: var(--principal-color);
        box-shadow: 0 7px 5px rgba(51, 51, 51, 0.4);
        text-shadow: var(--text-shadow);
    }

    #logo-titre__img{
        width: 0%;
    }

    h1{
        width: 100%;
        font-size: 30px;
        margin-left: 0;
        padding: 3%;
    }

    /*  menu */

    #navbar-menu{
        height: 80%;
        width : 100%;
        margin-top:1.5%;
        order: 3;
    }

    ul{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-menu__element{
        width: 60%;
        margin:1.5% auto;
        padding: 3% 0;
        background-color: var(--principal-color);
        box-shadow: 2px 3px 2px 2px rgba(51, 51, 51, 0.4);
        border-radius: 10px;
    }
    #active-elements{
        height: 10%;
        width : 100%;
        padding: 1.5% 20%;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        background-color: white;
        order: 2;
    }

    #color-selector{
        border: 2px solid rgb(190, 190, 190);
    }

    /* project's part */

    main{
        height: 49%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #presentation{
        height: 50%;
        align-items: flex-end;
    }
    
    #presentation p{
        font-size: 24px;
        width: 100%;
        padding: 5%;
        margin: 0 0 0 10%;
    }

    #projects{
        height: 50%;
        width: 100%;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #projects p{
        font-size: 18px;
    }

    /* footer */
    
    footer{
        height: 6%;
    }

    #footer__container-icons{
        height: 55%;
        font-size: 22px;
        width: 20%;
        margin: 0 10%;
        justify-content: space-between;
    }
    
    footer p{
        height: 45%;
        font-size: 14px;
        padding: 0.5% 0 0 0;
    }

}


/* Mobile */

@media screen and (max-width: 480px) {

    #color-selector{
        height:20px;
        width: 20px;
    }
    
    #dark-mode-button{
        height:20px;
        width: 20px;
    }

    #presentation p{
        font-size: 16px;
        width: 100%;
        padding: 5%;
        margin: 0 0 0 10%;
    }

    #projects p{
        font-size: 12px;
    }

    #footer__container-icons{
        font-size: 16px;
        justify-content: space-between;
    }
    
    footer p{
        font-size: 10px;
    }
}

/* Wide */
